{% extends "tracker/layout.html" %}

{% block body %}
<div class="form-container">
<div class="auth-form">
    <h2>Login</h2>

    {% if message %}
        <div class="auth-message">{{ message }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit">Login</button>
    </form>
</div>
</div>
{% endblock %}
